@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Demo.MvcQuickSettings.ViewModels.DemoViewModel>
@using DotNetNuke.Web.Mvc.Helpers
<div style="background-color: #005511; color: white;">
    <h1>QuickSetting</h1>

    <p>You are viewing QuickSetting</p>
</div>