@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Demo.MvcQuickSettings.ViewModels.DemoViewModel>
@using DotNetNuke.Web.Mvc.Helpers

<div style="background-color: #000080; color: white;">
    <h1>View2</h1>
    <p>You are viewing View2</p>
</div>